<!-- show nav links -->
<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Portal Solicitudes</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% if current_user %>
                <li class="nav-item">
                <p class="nav-link"><%= "Logueado como #{current_user.email}" %> </p>
                    
                </li>
                <li class="nav-item active">
                    <%= link_to 'Cerrar Sesión', logout_path, method: :delete ,class: "nav-link"%>
                </li>
        
            <% else %>
                <li class="nav-item">
                    <%= link_to 'Iniciar Sesión', login_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Registrarse', new_user_path, class:"nav-link" %>
                </li>
            <% end %>
        </ul>
    </div> 

    <!-- show flash message if any: -->
    <% if notice %>
      <%= notice %>
    <% end %>

    <% if alert %>
      <%= alert %>
    <% end %>
    <!-- end -->
</nav>